@font-face { font-family: MaisonNeue-Book; src: url(/assets/font/MaisonNeue-Book.otf); }
@font-face { font-family: MaisonNeue-Demi; src: url(/assets/font/MaisonNeue-Demi.otf); } 
@font-face { font-family: MaisonNeue-Bold; src: url(/assets/font/MaisonNeue-Bold.otf); }

:root{

    /* ------ colors ------ */
    --color-bg-primary: #151515;
    --color-bg-secondary: #1B1B1D;
    --color-bg-tertiary: #171718;
    --color-bg-quaternary: #F8F8F8;
    --color-text-primary: #ffffff;
    --color-text-secondary: #818181;
    --color-text-tertiary: #1A1A1A;
    --tw-border-opacity: 1!important;
    
    /* ------ fonts ------ */
    
    --ff-body: MaisonNeue-Book, sans-serif;
    
    /* size */
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 30px;
    --fs-xxl: 46px;
    --fs-xxxl: 56px;
    --fs-biggest: 76px;
    /* weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* ------  transition & z-index ------ */
    --zindex-menu: 1000;
    --zindex-fixed: 1010;

    /* ------ width & height ------ */
    --width-container: 100%;
    --height-header: 80px;
    --height-header-scroll: 90px;

    /* ------ transition ------ */
    --transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* ------  ------ */
h1, h2, h3, h4, h5{
    color: var(--color-text-primary);
    font-weight: var(--fw-regular);
}

html{
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, p, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    display: block;
}

a{
    text-decoration: none;
    color: var(--color-text-tertiary);
}

main{
    overflow: hidden;
}

body{
    background-color: var(--color-bg-quaternary);
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
    color: var(--color-text-primary);
}
/* ------ resuable css ------ */
.container{
    width: 100%;
    /* max-width: var(--width-container); */
    margin: auto 32px;
    /* background-color: var(--color-bg-secondary); */
}
.section{
    padding: 40px 0;
}
.section__header{
    margin: 80px 0;
    text-align: center;
}
.section__title{
    font-size: var(--fs-xxxl);
    margin-bottom: 0.5rem;
}
.section__subtitle{
    font-size: var(--fs-sm);
    position: relative;
}
.section__subtitle::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5rem;
    background-color: var(--color-bg-primary);
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.d-grid{
    display: inline-block;
    padding: 1.5rem 4rem;
    color: var(--color-text-primary);
    font-weight: var(--fw-regular);
}
.btn--primary{
    font-family: var(--ff-body);
    font-size: var(--fs-sm);
    color: var(--color-text-primary);
    background-color: transparent;
    border: none;
    padding: 0;
}
/* ------ header ------ */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: var(--height-header);
    z-index: var(--zindex-menu);
    transition: var(--transition);
    background-color: var(--color-bg-quaternary);
}
.header--scroll{
    height: var(--height-header-scroll);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav__brand img{
    width: 24px;
}
.nav__list{
    display: flex;
    column-gap: 40px;
}
.nav__link{
    transition: var(--transition);
    color: var(--color-text-tertiary);
}
.nav__link:hover{
    color: var(--color-text-secondary);
}
.nav__toggle{
    display: none;
    font-size: var(--fs-sm);
    color: var(--color-text-tertiary);
    cursor: pointer;
    transition: var(--transition);
}
.nav__toggle:hover{
    color: var(--color-text-secondary);
}
@media screen and (max-width: 968px){
    .container{
        margin: auto 16px;
    }
    .nav__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4rem;
    }
    .nav__menu{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        justify-content: center;
        transition: var(--transition);
    }
    .nav__menu--open{
        display: flex;
        background-color: var(--color-bg-quaternary);
    }
    .nav__toggle{
        display: block;
    }
    .nav__brand, .nav__toggle{
        z-index: var(--zindex-fixed);
    }
}

/* ------ hero ------ */
.hero__wrapper{
    /* min-height: calc(100vh - var(--height-header)); */
    padding: 200px 32px 96px 32px;
}
.hero__content{
    text-align: left;
    width: 1030px;
}
.hero__title{
    font-family: MaisonNeue-Demi, sans-serif;
    color: var(--color-text-tertiary);
    font-size: var(--fs-xxxl);
    font-weight: var(--fw-bold);
    margin-bottom: 16px;
    position: relative;
}
.hero__title::after{
    position: absolute;
    content: "";
    width: 10rem;
    height: .5rem;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 968px){
    .hero__wrapper{
        padding: 280px 16px 64px 16px ;
    }
    .hero__content{
        width: 318px;
    }
    .hero__title{
        font-size: var(--fs-xl);
    }
}
/* ------ work ------ */
.rows{
    padding: 0 32px 32px 32px;
    position: relative;
}
.rows-one{
    margin-bottom: 16px;
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
}
.rows-img{
    margin-bottom: 16px;
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
}
.rows-one img{
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}
.rows-img img{
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}
.rows-one:hover img {
    transform: scale(1.02);
}
.rows-img:hover img {
    transform: scale(1.02);
}
.rows-content{
    display: flex;
    justify-content: space-between;
}
.rows-content h5{
    font-size: var(--fs-md);
    color: var(--color-text-tertiary);
    font-family: MaisonNeue-Demi, sans-serif;
    margin: 0;
}
.rows-content p{
    font-size: var(--fs-md);
    font-family: MaisonNeue-Book, sans-serif;
    color: var(--color-text-secondary);
    margin: 0;
}
.rows-one:hover .button {
    opacity: 1;
    width: 128px;
    height: 128px;
    transform-origin: center;
}
.rows-img:hover .button {
    opacity: 1;
    width: 128px;
    height: 128px;
    transform-origin: center;
}
.button{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    opacity: 0;
    background-color: var(--color-bg-quaternary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s, transform-origin 0.3s;
}
.button a {
    font-size: var(--fs-xsm);
    font-family: MaisonNeue-Book, sans-serif;
    color: var(--color-bg-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 968px){
    .rows{
        padding: 16px 16px;
    }
    .rows-content{
        display: flex;
        justify-content: space-between;
    }
    .rows-content h5{
        font-size: var(--fs-xsm);
    }
    .rows-content p{
        font-size: var(--fs-xsm);
    }
    .rows-img{
        height: 380px;
        width: auto;
        overflow: hidden;
        margin-bottom: 16px;
    }
    .rows-img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .rows-one{
        height: 380px;
        width: auto;
        overflow: hidden;
        margin-bottom: 16px;
    }
    .rows-one img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 36% center;
    }
}

/* get in touch */
.touch{
    padding: 260px 0 260px 0;
    text-align: center;
}
.touch h1{
    font-size: var(--fs-xxxl);
    color: var(--color-text-tertiary);
}
.touch span a{
    color: var(--color-text-secondary);
}
@media screen and (max-width: 968px){
    .touch{
        padding: 200px 16px 150px 16px;
        text-align: center;
    }
    .touch h1{
        font-size: var(--fs-xl);
        color: var(--color-text-tertiary);
    }
}
/* footer */
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 40px 32px;
}
.footer__list{
    display: flex;
    column-gap: 40px;
}
.social__link{
    transition: var(--transition);
}
.social__link:hover{
    color: var(--color-text-secondary);
}
.socials{
    display: none;
}
@media screen and (max-width: 968px){
    .footer-content{
        padding: 50px 32px;
        align-items: center;
        flex-direction: column;
        row-gap: 16px;
    }
    .footer__list{
        display: none;
    }
    .socials{
        display: flex;
        column-gap: 20px;
        font-size: var(--fs-sm);
        color: var(--color-text-tertiary);
    }
    
}
/* about */
.about{
    margin-top: 210px;
}
.about-content{
    padding: 0 32px 48px 32px;
    display: inline-block;
    column-gap: 170px;
    align-items: flex-start;
}
.titles{
    display: inline-block;
    margin-bottom: 8px;
    text-align: center;
}
.titles h5{
    font-size: var(--fs-sm);
    color: var(--color-text-secondary);
    padding-bottom: 8px;
    margin: 0;
}
.about-content h1{
    padding-bottom: 16px;
}
.about-content p{
    color: var(--color-text-tertiary);
    line-height: 24px;
}
.columns{
    display: flex;
    padding: 0 32px 0 32px;
    justify-content: space-between;
}
.right-about h3{
    font-size: var(--fs-sm);
    color: var(--color-text-tertiary);
    padding-bottom: 16px;
}
.skills-content{
    width: 720px;
}
.link{
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    color: var(--color-text-secondary);
}
.displayMe{
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    z-index: auto;
}
.displayMe img{
    width: 100%;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@media screen and (max-width: 968px){
    .about-content{
        padding: 0 16px 32px 16px;
        display: block;
    }
    .about-content h1{
        font-size: var(--fs-xl);
        padding-bottom: 0;
    }
    .about-content p{
        color: var(--color-text-tertiary);
        font-size: var(--fs-sm);
        line-height: 24px;
    }
    .titles h5{
        padding-bottom: 0;
        margin: 0;
    }
    .columns{
        display: inline-block;
        padding: 0 16px 0 16px;
        justify-content: space-between;
    }
    .right-about h3{
        padding-bottom: 16px;
    }
    .skills-content{
        width: auto;
    }
}

/* project: nittiv */
.nittiv{
    margin-top: 210px;
}
.nittiv-content{
    padding: 0 32px 96px;
    display: inline-block;
    column-gap: 170px;
    align-items: flex-start;
}
.nittiv-title h1{
    font-family: MaisonNeue-Demi, sans-serif;
    color: var(--color-text-tertiary);
    font-size: var(--fs-xxxl);
    font-weight: var(--fw-bold);
    margin-bottom: 16px;
    position: relative;
}
.nittiv-content h5{
    font-size: var(--fs-sm);
    color: var(--color-text-tertiary);
    line-height: 24px;
    padding-bottom: 16px;
    margin: 0;
}
.tags{ 
    display: flex;
    column-gap: 32px;
}
.tags p{
    font-size: var(--fs-xsm);
    color: var(--color-text-tertiary);
    margin: 0;
    padding: 0;
}
.ntv-img{
    display: block;
    padding: 32px 0;
}
.ntv-one{
    background-color: #EAE9E7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 32px;
}
.ntv-one img {
    object-fit: cover;
    width: 70%;
    height: 70%;
}
.ntv-two{
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}
.ntv-two img{
    width: 100%;
    height: auto;
}
.ntv-three img{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 968px){
    .nittiv-content{
        padding: 0 16px 96px;
        display: inline-block;
        column-gap: 170px;
        align-items: flex-start;
    }
    .tags{ 
        display: inline-block;
    }
    .tags p{
        padding-bottom: 8px;
    }
    .ntv-img{
        display: block;
        padding: 16px 0;
    }
    .ntv-one{
        height: 30vh;
        margin-bottom: 16px;
    }
    .ntv-one img {
        object-fit: cover;
        width: 70%;
        height: 70%;
    }
    .ntv-two{
        display: block;
        margin-bottom: 0;
    }
    .ntv-two img{
        margin: 0;
        padding-bottom: 16px;
        vertical-align: bottom;
    }
}
